.bs-drpdwn {
    .profile-dropdown {
        left: auto;
        right: 0;
        padding: 10px 15px;
        margin: 5px 0 0;
        >a {
            display: block;
            padding: 5px 0;
            color: #000000;
        }
        &:before,
        &:after {
            bottom: 100%;
            left: 80%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before {
            border-bottom-color: rgba(255, 47, 0, 0.1);
            border-width: 11px;
            margin-left: -11px;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
        }
    }
}