.bs-tag{
    .tag{
        vertical-align: middle;
        display: inline-block;
        color:$clr-red;
        margin: 0 10px 20px;
        padding: 5px 40px 5px 15px;
        position: relative;
        .tag-close{
            position: absolute; top: 6px;
            right: 11px;
            color:$clr-black;
        }
        @include border-radius(4px);
            box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.12);
    }
}