.mod-table {
    min-width: 600px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f7dede;
    border-width: 0 1px;
    tr {
        &:nth-child(odd) {
            background-color: #f7f7f7;
        }
    }
    th,
    td {
        text-align: center;
        padding: 6px 15px;
        font-weight: bold;
        font-size: 12px;
        border: solid 1px #f7dfdf;
    }
    th {
        background-color: $clr-red;
        color: $clr-white;
        border-color: transparent;
        &.text-left {
            text-align: left;
        }
    }
    &.tts {
        td {
            font-weight: 300;
            &:first-child {
                font-weight: 600;
            }
        }
    }
    .td-img {
        img {
            width: 50px;
        }
    }
    &.typ-accordion {
        .dropdown-heading {
            position: relative;
            padding-right: 30px;
            &:before {
                content: "\e903";
                font-family: 'icomoon';
                position: absolute;
                right: 9px;
                top: 50%;
                margin-top: -8px;
                color: #858585;
                font-size: 12px;
            }
            &.open {
                &:before {
                    transform: rotate(270deg);
                    margin-top: -6px;
                }
            }
        }
        .second-level,
        .third-level {
            display: none;
        }
        .second-level {
            .dropdown-heading {
                text-indent: 10px;
            }
            color: rgba(#000, 0.6);
        }
        .third-level {
            td:first-child {
                text-indent: 15px;
            }
            color: rgba(#000, 0.4);
        }
        .dropdown-con-tr {
            display: none;
        }
        .progress-td {
            .pr-label {
                margin-left: 10px;
                &.success {
                    color: $clr-green;
                }
                .icon-arrow-left {
                    transform: rotate(90deg);
                    display: inline-block;
                    font-size: 10px;
                }
                &.danger {
                    color: $clr-red;
                    .icon-arrow-left {
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }
}