.bs-checkbox-group {
    >label {
        margin-bottom: 15px;
    }
    .radioParent {
        margin-left: -4px;
        margin-right: -4px;
        text-align: center;
    }
    .radioSec {
        position: relative;
        display: inline-block;
        margin: 7px 4px;
        input[type="checkbox"] {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
            +label {
                padding: 6px 12px;
                color: $clr-red;
                //border: solid 1px $clr-red;
                box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.12);
                @include border-radius(4px);
                text-align: center;
                min-width: 83px;
                margin-bottom: 0;
                cursor: pointer;
            }
            &:checked {
                +label {
                    color: $clr-white;
                    background-color: $clr-red;
                }
            }
        }
    }
}