.bs-tabs {
    font-size: 0;
    .nav-tabs {
        display: inline-block;
        border: 0;
        >li {
            >a {
                font-size: 16px;
                color: $clr-red;
                @include opacity(0.7);
                border: 0;
                border-bottom: 2px solid transparent;
                font-weight: $font-bold;
                &:focus {
                    border: 0;
                    color: $clr-red;
                }
                &:hover {
                    background: transparent;
                    border: 0;
                    color: $clr-red;
                }
                padding: 12px 15px;
            }
            &.active {
                a {
                    @include opacity(1);
                    border-bottom: 2px solid $clr-red;
                }
            }
        }
    }
    .tab-content-parent {
        margin-top: 0;
        font-size: initial;
    }
}

@media screen and (max-width:$ipad-breakpoint) {
    .bs-tabs {
        .tab-head-parent {
            overflow-x: scroll;
        }
        .nav-tabs {
            width: 2000px;
        }
    }
}

// @media screen and (max-width:$mobile-breakpoint) {
// }