.bs-link-group{
    a{
        color:$clr-red;
        text-transform: uppercase;
        margin-left:20px;
        padding-left:20px;
        border-left:solid 1px  #f7dfdf;
        &:first-child{
            border-left:none;
            margin-left:0;
            padding-left:0;
        }
    }
}