.bs-accordion {
    &.panel-group {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
        .panel {
            box-shadow: none;
            border: 0;
            margin-top: 0;
            border-bottom: 1px solid #eaeaea;
            .panel-heading {
                padding: 0;
                background: transparent;
            }
        }
    }
    .panel-collapse>.panel-body {
        background: #f7f7f7;
        border-top: 0!important;
        padding: 20px;
    }
    .panel-title {
        >a {
            position: relative;
            padding: 15px 30px;
            display: block;
            &:after {
                content: '';
                clear: both;
            }
            &:before {
                content: "\e903";
                font-family: 'icomoon';
                position: absolute;
                right: 30px;
                top: 50%;
                margin-top: -10px;
                font-size: 20px;
                color: #000;
            }
            &:not(.collapsed) {
                &:before {
                    @include rotate(180deg);
                }
                .time-list {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .bs-accordion {
        .panel-title {
            >a {
                padding: 10px 15px;
                &:before {
                    top: 7px;
                    margin-top: 0;
                    right: 19px;
                    font-size: 16px;
                }
            }
        }
        .panel-collapse>.panel-body {
            padding: 10px;
        }
    }
}