        .mod-enter-guest {
            max-width: 330px;
            margin: 0 auto;
            padding-top: 25px;
            span {
                cursor: pointer;
            }
            .number {
                position: relative;
                .form-control {
                    text-align: center;
                    padding-left: 80px;
                    padding-right: 80px;
                    height: 68px;
                    font-size: 24px;
                }
            }
            .minus,
            .plus {
                width: 30px;
                height: 30px;
                background: #f2f2f2;
                @include border-radius(50%);
                // padding: 4px 5px;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                color: $clr-white;
                line-height: 100%;
                font-size: 30px;
                background-color: #cccccc;
                position: absolute;
                top: 25px;
                &:hover,
                &:focus {
                    background-color: $clr-red;
                }
            }
            .minus {
                left: 0;
                span {
                    line-height: 23px;
                    display: block;
                }
            }
            .plus {
                right: 0;
            }
            // input {
            //     height: 34px;
            //     width: 100px;
            //     text-align: center;
            //     font-size: 26px;
            //     border: 1px solid #ddd;
            //     border-radius: 4px;
            //     display: inline-block;
            //     vertical-align: middle;
            // }
            .cm-big-text {
                margin-bottom: 10px;
            }
        }
        
        // @media screen and (max-width:$mobile-breakpoint) {
        //     .mod-enter-guest {
        //         .minus,
        //         .plus {
        //             width: 45px;
        //             height: 45px;
        //             font-size: 36px;
        //             top: 3px;
        //         }
        //         .number {
        //             .form-control {
        //                 height: 56px;
        //             }
        //         }
        //     }
        // }