.lyt-report {
    padding: 0;
    .actions {
        text-align: center;
        background: #f7f7f7;
        padding: 10px 15px;
        a {
            font-size: 26px;
            padding: 0 5px;
            vertical-align: text-top;
            color: $clr-red;
        }
        .form-group {
            display: inline-block;
            width: 150px;
            text-align: left;
            margin-left: 10px;
        }
        .right-align {
            float: right;
        }
    }
    .graph-section {
        padding: 30px 15px;
    }
    .table-parent {
        background: #f7f7f7;
        padding: 30px 15px;
    }
    .graph {
        min-width: 310px;
        height: 210px;
        max-width: 600px;
        margin: 0 auto;
    }
}

.chart1 {
    padding-top: 15px;
}

.chart2 {
    padding-top: 15px;
}

.top-line {
    border-top: 1px solid rgb(204, 214, 235);
}

.left-line {
    border-left: 1px solid rgb(204, 214, 235);
}

.counter-block {
    text-align: center;
    margin-top: 30px;
    .counter {
        font-size: 45px;
        font-weight: bold;
    }
    .counter-txt {
        margin-top: 10px;
        p {
            height: auto;
            font-size: 16px;
            color: #000;
        }
    }
}

@media screen and (max-width:768px) {
    .lyt-report {
        .actions {
            .form-group {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .left-line {
        border: none;
    }
    .top-line {
        border: none;
    }
    .lyt-report .graph {
        min-width: 100%;
    }
}