.lyt-red-box {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    //@include box-shadow(0px, 0px, 20px, 10px, #fcf6f7);
    border: solid 2px #f0f0f0;
    @include border-radius(10px);
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width:$mobile-breakpoint) {
    .lyt-red-box {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}