

@media screen and (min-width:$ipad-breakpoint) {
    .lyt-left-right-space {
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media screen and (max-width:$mobile-breakpoint) {
    .lyt-left-right-space {
        padding-left: 15px;
        padding-right: 15px;
    }
}