.lyt-data-sec {
    .cm-big-text {
        margin-bottom: 50px;
    }
    .mod-btn-group {
        margin-top: 30px;
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .lyt-data-sec {
        .mod-btn-group {
            margin-top: 20px;
        }
        .cm-big-text {
            margin-bottom: 30px;
        }
    }
}