.lyt-feedback {
    .ctm-head {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .ctm-ratings {
        width: 300px;
        margin: 0 auto;
    }
    .parent-rw {
        margin-bottom: 15px;
    }
    .ctm-service {
        // font-weight: bold;
        // display: inline-block;
        font-size: 16px;
    }
    .cm-rating {
        font-size: 16px;
        vertical-align: middle;
        .icon {
            color: #F9BF00;
        }
    }
    .mod-btn-group {
        margin-top: 20px;
    }
    .thank {
        color: #388e3c;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 600;
    }
    span {
        &.icon-star-fill {
            &.selected {
                color: red;
            }
        }
    }
    .logo-parent {
        margin-bottom: 30px;
    }
}