.lyt-tbl-config {
    .no-tbl {
        font-size: 28px;
        color: #000;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .lyt-tbl-config {
        .no-tbl {
            font-size: 28px;
        }
    }
}