<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <div class="profileSec">
        <a href="javascript:;" class="profilePic">
            <!-- <img src="https://via.placeholder.com/150" alt=""> -->
            <i class="icon-Profile"></i>
        </a>
        <div class="name">
            Joan Deo
        </div>
    </div>
    <ul class="nav sidebar-nav">
        <li class="active">
            <a href="#"> <i class="icon-table icon"></i> Table</a>
        </li>
        <li>
            <a href="#"> <i class="icon-My_Booking icon"></i> My Booking</a>
        </li>
        <li>
            <a href="#"><i class="icon-Reservation icon"></i> Reservation</a>
        </li>
        <li>
            <a href="#"><i class="icon-Waiting_list icon"></i> Wating List</a>
        </li>
        <li>
            <a href="#"><i class="icon-Configuration icon"></i> Configuration</a>
        </li>
        <li>
            <a href="#"><i class="icon-tray icon"></i>Restaurant Profile</a>
        </li>
        <li>
            <a href="#"><i class="icon-key icon"></i> Change Password</a>
        </li>
        <li>
            <a href="#"><i class="icon-logout icon"></i> Logout</a>
        </li>
        <li>
            <a href="#"><i class="icon icon-pie-chart"></i> Report</a>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                
            </ul>
        </li> -->

    </ul>
</nav>
<header class="bs-header">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>a
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="#">
                    <img src="assets/images/logo.svg" alt="Book a Resto" width="96px">
                </a>
            </div>
            <div class="select-lang">
                <div class="select-parent">
                    <select class="select form-control">  
                        <option value="1">Select Language</option>
                        <option value="2">English</option>
                        <option value="3">Arabic</option>
                    </select>
                </div>
            </div>
            <!-- <div class="profileSec">
                <a href="javascript:void(0);" class="dropdown-toggle profilePic" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="icon-Profile"></i></a>
                <div class="dropdown-menu profile-dropdown" aria-labelledby="dropdownMenuLink">
                    <a href="#">Change password</a>
                    <a href="#">Logout</a>


                </div>
            </div> -->
            <!-- <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">
                            <i class="icon-My_Booking"></i>
                            <span>My Booking</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-Reservation"></i>
                            <span>Reservation</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-Waiting_list"></i>
                            <span>Waiting List</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-Configuration"></i>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-Profile"></i>
                            <span>User Name</span>
                        </a>
                    </li>
                </ul>

            </div> -->
            <!--/.nav-collapse -->

        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="rest-name cm-dot ">
        Goodies Resto
    </div>
</header>